.layout-background {
    background-color: #ffffff !important; 
}

.content-nav {
    margin-top: 30px;
    margin-left: 30px;
}

.nav-background {
    background-color: #9FB8AD;
}

.sider-navigate {
    overflow: auto;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #9FB8AD !important;
}

.sider-menu {
    background-color: #9FB8AD !important;
}
.logo-size {
    width: 200px;
    height: 150px;
}

.logo-size-collapsed {
    width: 80px;
    height: 50px;
}

.logo-size-topbar {
    width: 60px;
    height: 60px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected.customclass {
    background-color: #475841; /*Overriden property*/
}

.header-nav {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #9FB8AD !important;

}

.header-menu {
    background-color: #9FB8AD !important;

}

.create-workspace-back {
    background-color: #3F403F !important;
}

.workspace-header {
    background-color: #3F403F !important;
}

.workspace-content {
    margin-top: 10px;
}

.workspace-sider {
    background-color: #9FB8AD !important;
}

.workspace-font {
    color: #9FB8AD;
}

.workspace-table-content {
    height: 500px;
    width: 700px;
}

.visualize-table {
    height: 100vh;
}

.workspace-button-margin {
    margin-top: 10px;
}


.csv-table-overflow {
    overflow-x: scroll;
    overflow-y: scroll;
}

.csv-table-row-back:hover {
    background-color: coral;
}

/* .dragger-style{


    display: flex;
    flex-direction: row;
} */

.ant-upload.ant-upload-drag {
    width: 80%;
    margin: 20px;
}

.ant-upload-list.ant-upload-list-picture {
    width: 100%;
    margin: 20px;
}

.welcome-workspace-content {
    justify-content: center;
}

.welcome-workspace-button {
    background-color: #062846 !important;
}

.welcome-firstRow-margin {
    margin-bottom: 100px;
}



.dark-background{
  background-color: #475841;
  border-color: #475841;
  color: #9FB8AD;
}

.dark-background:hover{
    color: aliceblue !important;
    border-color:aliceblue !important;
}

.workspace-nextButton {
    margin-left: 800px;
}

.result-modal{
    background-color: white;
    overflow: scroll;
    width: 1000px !important;
}

.list-allworkspace{
    width: auto;
    max-width: 1500px;
    margin-left: 100px;
    margin-top: 20px;
}

.pageHeader-workspace{
    background-color: #E6E8E6;
    color: aliceblue !important;
    border-color:aliceblue !important;
}

.button-allWorkspace{
    margin-left: 250px;
}

.red-color{
    color: red;
}

.nav-color{
    color: #475841;
}

.div-workspaceSteps{
    background-color: #E6E8E6;
    color: aliceblue !important;
    border-color:aliceblue !important;
    
}

.div-work{
    margin-top: 30px;
    margin-left: 30px;
}

.ant-table-thead .ant-table-cell {
    background-color: #F5F5F5 !important; 
  }

.icon-font{
    font-size: 2em !important;
    margin-right: 10px;
    margin-top: 10px;
}

.id-column-background{
    background-color: #F5F5F5 !important;
    width: 10px;
}

.render-table{
    font-family: Inter,sans-serif;
    font-size: 0.8em;
}

.list-processingKeys{
    width: auto;
    overflow: auto;
}

.select-column-width{
    min-width: 150px;
}

.main-container {
    text-align: center;

}

.main-card{
    background-color: #CED0CE !important;
}

.main-h1{
    font-size: 2.5em;
}
.main-button{
    width: 150px;
    height: 50px;
}
.main-icon{
    font-size: 4rem;
  margin-bottom: 1.5rem;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #9FB8AD !important; 
    font-weight: 500;
 }

 .setting-user{
    margin-bottom: 20px;
 }







