*{
    font-family: 'Montserrat', sans-serif;
    
}
::-webkit-scrollbar{
    display: none;
}
.form-location {
  margin-top: 50px;
}
.login-form{
    background-color: #ffff;
    border-radius: 50px;
    height: 450px;
    align-items: center
}
.page-background{
    background-color: #475841;
    height: 100vh;
    
}
.form-center{
    margin-left: 100px;
}
.form-title-background{
    background-color: #475841;
}
.form-button-color{
    background-color: #475841;
}
.form-link-color{
    color: #475841;
}
